{% extends "base.html" %}

{% block content %}
<hr size = "10">
<h4>
  Share your favorite liquor with your friends. Add your favorite liquor of all time!
</h4>
<br><hr size = "10">
<h4>Recent Liqours:</h4> <br>

<div class='row'>
  <div class='col-sm-6 text-center col-sm-offset-3'>
        <h1>User Following Feed</h1>

{% for obj in object_list %}


        <div class='thumbnail' style ='border-style: groove;'>      
            <h3><a href='{% url "profile:detail" username=obj.owner.username %}'>{{ obj.owner.username }}</a></h3>
            <h4>{{ obj.name }}</h4>
            <h6>Category: {{obj.category}} </h6>
            <h6>Available in: {{obj.can_or_bottle}} </h6>
            <h6>${{obj.price}} </h6>
       
        </div>
 <br>


{% endfor %}

    </div>
    </div>

{% endblock content %}