<div class='container'>

<h1> Welcome to PickYourLiquor.com</h1>	

{% if request.user.is_authenticated %}
<a href='{% url "home" %}'>Home</a>
<a href='{% url "about" %}'>About</a>
<a href='{% url "liquors:list" %}'>Liquors</a>
<a href='{% url "logout" %}'>Lougout</a>

{% else %}
<a href='{% url "home" %}'>Home</a>
<a href='{% url "about" %}'>About</a>
<a href='{% url "register" %}'>Register</a>
<a href='{% url "login" %}'>Login</a>
{% endif %}
<a href='{% url "webservice" %}'>Web-service</a>
</div>